.f-title {
    font-family: 'Open Sans Condensed', 'Courier New', Courier, monospace;
    font-weight: 300;
    font-style: normal;
  
  }
  
  .brand-logo-part{
    margin-left: 10px;
  }
  
  div.nav-wrapper {
    min-height: 64px;
  }
  
  div.nav-wrapper>img {
    max-width: 64px;
  }
  
  .brand-logo-part {
    line-height: 32px;
  }
  
  .f-report-info {
    padding-top:5px;
    padding-bottom:5px;
  }
  
  .chart-points {
    margin-right: 50px;
  }
  
  #ed_chart_points {
    max-width: 50px;
    margin-right: 5px;
  }